dagshub==0.6.7
dagshub==0.6.9
Flask==1.1.2
flask_cors==6.0.1
flask_cors==6.0.2
joblib==1.5.2
joblib==1.5.3
lightgbm==4.6.0
matplotlib==3.10.8
mlflow==3.10.0
mlflow==3.10.1
mlflow_skinny==3.10.0
mlflow_skinny==3.10.1
mlflow_tracing==3.10.0
mlflow_tracing==3.10.1
nltk==3.9.1
nltk==3.9.4
numpy==1.24.4
numpy==1.23.5
pandas==3.0.1
python-dotenv==1.2.2
PyYAML==6.0.2
PyYAML==6.0.3
scikit_learn==1.8.0
seaborn==0.13.2
setuptools==50.3.2
setuptools==58.0.4
setuptools==72.1.0
setuptools==75.1.0
setuptools==78.1.1
setuptools==80.10.2
setuptools==80.9.0
wordcloud==1.9.4
wordcloud==1.9.6
